<fieldset class="L-form__fieldset fieldset-border">
    <legend>
        <i class="fa-solid fa-file-import me-2"></i>Import dat z CSV file
    </legend>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="L-form__group">
            <label for="{{ form.file.id_for_label }}">Vyberte CSV soubor pro import</label>
            {{ form.file }}
            <div class="L-form__error">
                {% if form.file.errors %}{{ form.file.errors }}{% endif %}
                <p class="u-txt-error u-error-special1" id="csv_error_message"></p>
            </div>
        </div>
        <!---->
        <div class="d-flex justify-content-between">
            {% if user.is_superuser %}
                <div class="form-check form-switch">
                    <input class="form-check-input"
                           type="checkbox"
                           role="switch"
                           id="potlacitVelikostCsvChckBox"
                           aria-checked="true">
                    <label class="form-check-label" for="potlacitVelikostCsvChckBox">ignore size</label>
                </div>
            {% else %}
                <div></div>
            {% endif %}
            <!---->
            <div>
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-plus me-2"></i>importuj data
                </button>
            </div>
        </div>
    </form>
</fieldset>
