<div class="L-form__fieldset C-create-menu ms-5">
    <h3 class="L-form__fieldset__header">Montážní Protokoly</h3>
    <ul class="C-create-menu__list">
        <li class="C-create-menu__item">
            <a href="{% url 'mandant_pdf' "SCCZ" %}" class="link">
                <i class="fa-regular fa-file-pdf me-2"></i>
                <span>Sconto Protokol</span>
            </a>
        </li>
        <li class="C-create-menu__item">
            <a href="{% url 'mandant_pdf' "default" %}" class="link">
                <i class="fa-regular fa-file-pdf me-2"></i>
                <span>Default Protokol</span>
            </a>
        </li>
    </ul>
</div>

