<fieldset class="L-form__fieldset ms-5">
    <legend>
        <i class="fa-solid fa-qrcode me-2"></i>Uložení protokolu
    </legend>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Obrázek -->
        <div class="L-form__group">
            <label for="fileInputProtocol">Vyberte soubor s obrázkem protokolu</label>
            <input class="form-control mt-1"
                   type="file"
                   id="fileInputProtocol"
                   name="image"
                   required
                   accept="image/*" />
        </div>
        <!-- Číslo zakázky + autocomplete -->
        <div class="L-form__group position-relative ">
            <label for="orderNumber">Zadej číslo zakázky</label>
            <input class="mt-1 L-form__input"
                   type="text"
                   id="orderNumber"
                   name="order_number"
                   autocomplete="off"
                   required
                   placeholder="Číslo zakázky ..." />
            <div id="orderSuggestions" class="autocomplete-suggestions"></div>
        </div>
        <div>
            <p class="m-0">
                zakázka je ve stavu: <span id="StatusZakazky" class="u-txt-muted">nezjištěno</span>
            </p>
        </div>
        <!-- Přepínač statusu -->
        <div class="form-check form-switch" id="realizovanoSwitch">
            <p class="u-txt-error u-txt-smaller p-0 u-negative-margin-5"
               id="statusSwitchWarning">přepnutí stavu přepíše současný stav !!!</p>
            <input class="form-check-input"
                   type="checkbox"
                   id="flexSwitchCheckChecked"
                   name="realizovano"
                   checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Přepnout status na Realizováno ?</label>
        </div>
        <!-- Tlačítko -->
        <div class="u-txt-right mt-3">
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-plus me-2"></i>Ulož protokol
            </button>
        </div>
    </form>
</fieldset>
