// --- light theme ---
$theme: (
  "accent": #fd7e14,
  "success": #0d6efd,
  "success-darker": #004ec3,
  "success-lighter": #428cfc,
  "info": #198754,
  "error": #dc3545,
);

// ---
$light-theme: (
  "border": #2125294a,
  "shadow": #2125292f,
  "bck": (
    "list-item": white,
    "sidebar": #f8f9fa,
    "body": #f8f9fa,
    "table-head": #cfcfcf,
    "table-row-even": #f3f3f3,
    "table-row-odd": #fff,
    "table-row-hover": #e5e5e5,
  ),
  "txt": (
    "default": #212529,
    "default-calm": #2b5277,
    "muted": #c2c2c2,
  ),
);

// ---
$dark-theme: (
  "border": #424242,
  "shadow": #f8f9fa12,
  "bck": (
    "list-item": #232323,
    "sidebar": #212529,
    "body": #212529,
    "table-head": #212529,
    "table-row-odd": #2c2c2c,
    "table-row-even": #212529,
    "table-row-hover": #4f4f4f,
  ),
  "txt": (
    "default": #f8f9fa,
    "default-calm": #8ab3ff59,
    "muted": #8b8b8b,
  ),
);
