{% extends "base.html" %}
{% block title %}
    Vytvořit
{% endblock title %}
<!---->
{% block content %}
    <section class="L-form" id="createPage">
        <div class="u-flex-row-start">
            <!--CSV import-->
            {% include "app_sprava_montazi/create/partials/import_form.html" %}
            <!--montazni protokol-->
            {% include "app_sprava_montazi/create/partials/protocol_form.html" %}
        </div>
        <!---->
        <hr class="mb-5 mt-5">
        <div class="u-flex-row-start">
            <!--dalsi moznosti-->
            {% include "app_sprava_montazi/create/partials/dalsi_moznosti.html" %}
            <!--montazni protokoly-->
            {% include "app_sprava_montazi/create/partials/montazni_protokoly.html" %}
        </div>
        <hr>
        <!-- pouze superUser -->
        {% if request.user.is_superuser %}
            <!-- autobot info -->
            {% include "app_sprava_montazi/create/partials/autobot_info.html" %}
        {% endif %}
    </section>
{% endblock content %}
