{% extends "base.html" %}
{% block title %}
    Vytvořit
{% endblock title %}
<!---->
{% block content %}
    <section class="L-form">
        {% include "app_sprava_montazi/create/partials/import_form.html" %}
        <hr class="mb-5 mt-5">
        <div class="u-flex-row-start">
            <!---->
            <div class="L-form__fieldset C-create-menu">
                <h3 class="L-form__fieldset__header">Další možnosti</h3>
                <ul class="C-create-menu__list">
                    <li class="C-create-menu__item">
                        <a href="{% url 'order_create' %}" class="link">
                            <i class="bi bi-plus-circle me-2"></i>
                            <span>Vytvořit Zakázku</span>
                        </a>
                    </li>
                    <li class="C-create-menu__item">
                        <a href="{% url 'team_create' %}" class="link">
                            <i class="bi bi-people me-2"></i>
                            <span>Vytvořit Tým</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!---->
            <div class="L-form__fieldset C-create-menu">
                <h3 class="L-form__fieldset__header">Montážní Protokoly</h3>
                <ul class="C-create-menu__list">
                    <li class="C-create-menu__item">
                        <a href="{% url 'order_create' %}" class="link">
                            <i class="fa-regular fa-file-pdf me-2"></i>
                            <span>Sconto Protokol</span>
                        </a>
                    </li>
                    <li class="C-create-menu__item">
                        <a href="{% url 'team_create' %}" class="link">
                            <i class="fa-regular fa-file-pdf me-2"></i>
                            <span>Default Protokol</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}
