{% extends "base.html" %}
{% block title %}
    Vytvořit
{% endblock title %}
<!---->
{% block content %}
    <section class="L-form">
        <div class="u-flex-row-start">
            <!-- ceny montaze-->
            {% include "app_sprava_montazi/create/partials/montage_price_settings.html" %}
            <!-- nazev firmy-->
            {% include "app_sprava_montazi/create/partials/firma_settings.html" %}
        </div>
        <hr>
        <div>
            <a href="{% url 'createpage' %}"
               class="btn btn-outline-secondary btn-sm u-width-180 text-nowrap me-2">
                <i class="fa-solid fa-backward me-2"></i>Zpět na vytvořit</a>
            <!---->
            <a href="#" class="btn btn-primary btn-sm u-width-180 text-nowrap">
                <i class="fa-solid fa-timeline me-2"></i>Zobrazit historii</a>
        </div>
    </section>
{% endblock content %}
