
# --- settings
SECRET_KEY=django-insecure-q!td=0&y#*9!5)89jj1_k2hyg*w0#-v#^=#@%(sey2-1@wl()

# --- deployment: vzdy musi byt dva hosty
ALLOWED_HOSTS=www.rhemove.cz,rhemove.cz,127.0.0.1,localhost

# --- nastaveni pro produkci
DJANGO_ENV=production
USE_HTTPS=false

# --- create users
SYSTEM_SUPER_USER=optimusprime
SYSTEM_SUPER_USER_PASS=o.p.t.i.m.u.s.p.r.i.m.e.

SYSTEM_USER=allspark
SYSTEM_USER_PASS=a.l.l.s.p.a.r.k

SYSTEM_BOT=bumblebee
SYSTEM_BOT_PASS=b.u.m.b.l.e.b.e.e.


# --- email settings
EMAIL_HOST_USER=miroslav.viktorin77@gmail.com
EMAIL_HOST_PASSWORD=uvvz alzi uexu ggeb

# --- warning message
DJANGO_RUNSERVER_HIDE_WARNING=true
