@use "../utils/" as *;
@use "../base/placeholders" as *;

.P-body {
  @extend %transition-theme;

  background-color: var(--bck-body);
  color: var(--txt-default);
}

.P-container {
  @include container(64rem, 90%, 1%);
}

.P-wrapper {
  @include flex(flex-start, flex-start, 1em);
}

.P-main {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  flex: 1;
  position: relative;
  isolation: isolate;
}

.P-main.visible {
  opacity: 1;
}

.P-sidebar {
  flex: 0 0 auto;
}
