@use "../utils/" as *;
@use "../base/placeholders" as *;

.P-body {
  @extend %transition-theme;

  background-color: var(--bck-body);
  color: var(--txt-default);
}

.P-container {
  @include container(45rem, 90rem, 0.5em);
}

.P-wrapper {
  @include flex(flex-start, flex-start, 1em);
}

.P-main {
  flex: 1;
}

.P-sidebar {
  flex: 0 0 auto;
}
