<!DOCTYPE html>
{% load static %}
<html lang="cs">
    <head>
        <title>Navrat protokolu</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Rhenus HD - Asset Management System for maintenance and repair operations" />
        <meta name="keywords"
              content="rhenus, asset management, maintenance, repair, operations" />
        <title>Rhenus</title>
        {% include "includes/css.html" %}
    </head>
    <body>
        <section id="backProtocolPage">
            <div class="container text-center position-relative pt-5">
                {% for message in messages %}
                    <div class="C-messages C-messages_custom_1 alert alert-{{ message.tags }} alert-dismissible fade show"
                         role="alert">
                        <strong>Message:</strong><span class="ms-2">{{ message|safe }}</span>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}
                <h1 class="mb-4 pt-2">Zakázka: {{ order|upper }}</h1>
                <hr>
                <div class="alert alert-primary">
                    <h3 class="text-start">
                        Montážní tým: <span class="badge text-bg-info">{{ order.team }}</span>
                    </h3>
                    <h3 class="text-start">
                        Zákazník: <span class="badge text-bg-info">{{ order.client }}</span>
                    </h3>
                </div>
                <!---->
                <hr>
                <div class="u-bck-form-back-protocol">
                    <h2>Nahrát fotografii z montáže.</h2>
                    <form action="{% url 'upload_one_img' order.pk %}"
                          method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            max. velikost souboru je <strong>10MB</strong>!
                        </p>
                        <input class="d-none"
                               type="file"
                               id="fileInputImg"
                               name="image"
                               accept="image/*"
                               capture="environment" />
                        <label for="fileInputImg"
                               class="btn btn-primary ps-5 pe-5 pt-2 pb-2 u-txt-bigger mb-3">
                            <i class="fa-solid fa-camera me-2"></i>Nahrát fotografii
                        </label>
                        <p id="fileErrorImg" class="mt-5 u-txt-bigger"></p>
                    </form>
                </div>
                <!---->
                <p class="alert alert-info u-txt-left">
                    Jakmile se úspěšně nahraje obrázek montážního protokolu dojde k uzavření zakázky.
                </p>
                <!---->
                <div class="u-bck-form-back-protocol">
                    <h2>Nahrát fotografii montážního protokolu</h2>
                    <form action="{% url 'upload_protocol' order.pk %}"
                          method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            max. velikost souboru je <strong>10MB</strong>!
                        </p>
                        <input class="d-none"
                               type="file"
                               id="fileInput"
                               name="image"
                               accept="image/*"
                               capture="environment" />
                        <label for="fileInput"
                               class="btn btn-primary ps-5 pe-5 pt-2 pb-2 u-txt-bigger mb-3">
                            <i class="fa-solid fa-camera me-2"></i>Nahrát fotografii
                        </label>
                        <p id="fileError" class="mt-5 u-txt-bigger"></p>
                    </form>
                </div>
                <hr>
            </div>
        </section>
        {% include "includes/scripts.html" %}
    </body>
</html>
