{% extends "base.html" %}
{% block title %}
    detail objednavky
{% endblock title %}
<!---->
{% block content %}
    <section class="L-table">
        <div class="u-flex-row-start">
            {% include "app_sprava_montazi/orders/partials/client_orders_list.html" %}
            {% include "app_sprava_montazi/orders/partials/client_formset_call.html" %}
            {% include "app_sprava_montazi/orders/partials/client_call_log.html" %}
        </div>
        <hr>
        {% include "app_sprava_montazi/orders/partials/client_orders_table.html" %}
    </section>
{% endblock content %}
