{% extends "base.html" %}
{% block title %}
    montazni protokol
{% endblock title %}
<!---->
{% block content %}
    <section class="position-relative">
        <div class="C-img-modal" id="imgModalProtocol">
            <div class="C-img-modal__img-container">
                <img src="{{ recieved_protokol.file.url }}"
                     alt="{{ order.order_number|upper }}"
                     class="C-img-modal__img">
            </div>
        </div>
        <h2 class="mt-1 ">montazni protokol: {{ order.order_number|upper }}</h2>
        <hr>
        <div class="u-flex-row-start">
            {% include "app_sprava_montazi/teams/partials/team_detail_partial.html" %}
            <!---->
            {% if order.mandant == "SCCZ" %}
                {% include "app_sprava_montazi/orders/partials/protocol_sccz.html" %}
            {% else %}
                {% include "app_sprava_montazi/orders/partials/protocol_default.html" %}
            {% endif %}
            <!--recieved protocol-->
            {% include "app_sprava_montazi/orders/partials/recieved_protokol.html" %}
        </div>
        <hr>
        <a href="{% url "order_detail" order.pk %}"
           class="btn btn-outline-secondary btn-sm u-width-180 text-nowrap me-2">
            <i class="fa-solid fa-backward me-2"></i>Zpět na seznam </a>
    </section>
{% endblock content %}
