{% extends "base.html" %}
{% block title %}
    detail objednavky
{% endblock title %}
{% block content %}
    <section class="L-detail">
        <div class="L-detail__body">
            <!--objednavka-->
            {% include "app_sprava_montazi/orders/partials/order_detail_order.html" %}
            <!--zakaznik-->
            {% include "app_sprava_montazi/orders/partials/order_detail_client.html" %}
            <!--artikl-->
            {% include "app_sprava_montazi/orders/partials/order_detail_article.html" %}
        </div>
        <hr>
        <!--status options-->
        {% include "app_sprava_montazi/orders/partials/status_options.html" %}
        <!--another options-->
        <hr>
        {% include "app_sprava_montazi/orders/partials/another_options.html" %}
        <hr>
    </section>
{% endblock content %}
