{% extends "base.html" %}
{% block title %}
    formular
{% endblock title %}
<!---->
{% block content %}
    <section class="L-form">
        <form method="post"  novalidate>
            {% csrf_token %}
            <div class="L-form__body">
                <!--objednavka-->
                <fieldset class="L-form__fieldset">
                    <legend>Objednávka</legend>
                    {% include "app_sprava_montazi/partials/form_field.html" with form=order_form %}
                </fieldset>
                <!--zakaznik-->
                <fieldset class="L-form__fieldset u-flex-column">
                    <div>
                        <legend>Zákazník</legend>
                        {% include "app_sprava_montazi/partials/form_field.html" with form=client_form %}
                    </div>
                    <!---->
                    <div>
                        <div class="u-txt-right mt-3">
                            <button type="submit" class="btn btn-primary mt-3">
                                <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Uložit objednávku
                            </button>
                        </div>
                        <div class="u-txt-right mt-3">
                            <a href="{% url 'orders' %}" class="u-txt-right">Zpět na seznam objednávek</a>
                        </div>
                    </div>
                </fieldset>
                <!--artikly-->
                <fieldset class="L-form__fieldset">
                    <legend>Artikly</legend>
                    {{ article_formset.management_form }}
                    {% for form in article_formset %}
                        <div>
                            <button type="button" class="toggle-btn btn btn-primary mb-3">
                                <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Přidat artikl {{ forloop.counter }}
                            </button>
                            <div class="L-form__articles artikl-{{ forloop.counter }}">
                                {% include "app_sprava_montazi/orders/partials/artikl_form.html" with form=form counter=forloop.counter %}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>
        </form>
    </section>
{% endblock content %}
