{% extends "base.html" %}
{% block title %}
    Client form
{% endblock title %}
{% block content %}
    <section class="L-detail" id="clientFormPage">
        <div class="L-detail__body">
            <!--objednavka-->
            {% with hidden=True %}
                {% include "app_sprava_montazi/orders/partials/order_detail_order.html" with show=hidden %}
            {% endwith %}
            <!--zakaznik-->
            {% include "app_sprava_montazi/orders/partials/client_form.html" %}
            <!--artikl-->
            {% with hidden=True %}
                {% include "app_sprava_montazi/orders/partials/order_detail_article.html" with show=hidden %}
            {% endwith %}
        </div>
        <!---->
        <div>
            <a href="{% url 'order_detail' order.pk %}"
               class="btn btn-outline-secondary btn-sm u-width-180 text-nowrap me-2">
                <i class="fa-solid fa-backward me-2"></i>Zpět na objednávku</a>
        </div>
    </section>
{% endblock content %}
