{% extends "base.html" %}
{% block title %}
    Client form
{% endblock title %}
{% block content %}
    <section class="L-detail">
        <div class="L-detail__body">
            <!--objednavka-->
            {% with hidden=True %}
                {% include "app_sprava_montazi/orders/partials/order_detail_order.html" with show=hidden %}
            {% endwith %}
            <!--zakaznik-->
            {% include "app_sprava_montazi/orders/partials/client_form.html" %}
            <!--artikl-->
            {% with hidden=True %}
                {% include "app_sprava_montazi/orders/partials/order_detail_article.html" with show=hidden %}
            {% endwith %}
        </div>
        <!---->
        <p class="mt-3">
            <a href="{% url 'orders' %}">Zpět na seznam objednávek</a>
        </p>
    </section>
{% endblock content %}
