{% extends "base.html" %}
{% block title %}
    Historie zakázky {{ order.order_number }}
{% endblock title %}
<!---->
{% block content %}
    <h4 class="mt-3">Historie zakázky: {{ order.order_number|upper }}</h4>
    <hr>
    {% if history_data %}
        <div>
            {% for entry in history_data %}
                <div>
                    <div>
                        {% if entry.model == 'Order' %}
                            <h5>
                                <i class="fa-solid fa-truck-fast me-2"></i>
                                <span class="text-decoration-underline">Změna v Zakázce</span>
                            </h5>
                        {% else %}
                            <h5>
                                <i class="fas fa-clipboard-list me-2"></i>
                                <span class="text-decoration-underline">Změna v Artiklu:</span>
                                <span class="ms-2">{{ entry.name|default:"(neznámý)" }}</span>
                            </h5>
                        {% endif %}
                    </div>
                    <div>
                        <p>
                            Uživatel: <strong>{{ entry.user|default:"Neznámý" }}</strong>
                            <br>
                            Datum změny: <strong>{{ entry.date }}</strong> (před {{ entry.date|timesince }} )
                            <br>
                            Typ změny:
                            {% if entry.type == '+' %}
                                <span class="u-txt-success"><i class="fa-regular fa-square-plus"></i> Vytvoření</span>
                            {% elif entry.type == '~' %}
                                <span class="u-txt-warning"><i class="fa-regular fa-pen-to-square"></i> Úprava</span>
                            {% elif entry.type == '-' %}
                                <span class="u-txt-error"><i class="fa-regular fa-square-minus"></i> Smazání</span>
                            {% else %}
                                {{ entry.type }}
                            {% endif %}
                        </p>
                        {% if entry.type == '~' %}
                            {% if entry.changes %}
                                <h6>Změněná pole:</h6>
                                <ul>
                                    {% for change in entry.changes %}
                                        <li>
                                            <strong>{{ change.field }}</strong>: z <span class="text-danger">{{ change.old|default:"-" }}</span> na <span class="text-success">{{ change.new|default:"-" }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Byl upraven Artikl, nebo prázdné uložení.</p>
                            {% endif %}
                        {% elif entry.type == '+' %}
                            {% if entry.model == 'Order' %}
                                <p>Zakázka byla vytvořena.</p>
                            {% elif entry.model == 'Article' %}
                                <p>
                                    Artikl " <strong>{{ entry.name|default:'(neznámý)' }}</strong> " byl vytvořen v rámci této zakázky.
                                </p>
                            {% endif %}
                        {% elif entry.type == '-' %}
                            {% if entry.model == 'Order' %}
                                <p>Zakázka byla smazána.</p>
                            {% elif entry.model == 'Article' %}
                                <p>
                                    Artikl " <strong>{{ entry.name|default:'(neznámý)' }}</strong> " byl smazán z této zakázky.
                                </p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>Pro tuto zakázku neexistuje žádná historie.</p>
    {% endif %}
{% endblock content %}
