{% extends "base.html" %}
{% block title %}
    formular
{% endblock title %}
{% block content %}
    <section class="L-form order-form">
        <div class="L-form__header">
            <h2>Vytvořit novou objednávku</h2>
        </div>
        <form method="post" class="L-form__form">
            {% csrf_token %}
            <div class="L-form__wrapper-for-two">
                <div class="L-form__wrapper-form order">
                    <fieldset>
                        <legend>Objednávka</legend>
                        {{ order_form.as_p }}
                    </fieldset>
                </div>
                <div class="L-form__wrapper-form client">
                    <fieldset>
                        <legend>Zákazník</legend>
                        {{ client_form.as_p }}
                    </fieldset>
                </div>
            </div>
            <!--articles form-->
            <div class="L-form__articles">
                {{ article_form.management_form }}
                {% for form in article_form %}
                    <fieldset>
                        <legend>Artikl</legend>
                        {{ form.as_p }}
                    </fieldset>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-3">
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Uložit objednávku
                </button>
            </div>
        </form>
        <!---->
        <div class="u-txt-right">
            <a href="{% url 'orders' %}" class="u-txt-right">Zpět na seznam objednávek</a>
        </div>
    </section>
{% endblock content %}
