{% extends "base.html" %}
{% block title %}
    formular
{% endblock title %}
{% block content %}
    <section class="L-form">
        <form method="post" novalidate id="order-form">
            {% csrf_token %}
            <div class="L-form__body">
                <fieldset class="L-form__fieldset">
                    <legend>Objednávka</legend>
                    {% include "app_sprava_montazi/partials/form_field.html" with form=order_form %}
                    <div>
                        <div class="u-txt-right mt-3">
                            <button type="submit" class="btn btn-primary mt-3">
                                <i class="fa-solid fa-plus me-2"></i>Uložit objednávku
                            </button>
                        </div>
                        <div class="u-txt-right mt-3">
                            <a href="{% url 'orders' %}" class="u-txt-right">Zpět na seznam objednávek</a>
                        </div>
                    </div>
                </fieldset>
                <!---->
                {% with hidden=True %}
                    {% include "app_sprava_montazi/orders/partials/order_detail_client.html" with show=hidden %}
                {% endwith %}
                <!-- article-->
                <fieldset class="L-form__fieldset">
                    <legend>Artikly</legend>
                    {{ article_formset.management_form }}
                    <!-- ŠABLONA PRO NOVÝ FORMULÁŘ -->
                    <div id="empty-form-template" class="d-none">
                        <div class="L-form__article-form">
                            {% with form=article_formset.empty_form %}
                                {% include "app_sprava_montazi/orders/partials/artikl_form.html" with form=form %}
                            {% endwith %}
                        </div>
                    </div>
                    <!-- OBSAH FORMSETU -->
                    <div id="article-formset-container">
                        {% for form in article_formset %}
                            <div class="L-form__article-form">
                                {% include "app_sprava_montazi/orders/partials/artikl_form.html" with form=form %}
                            </div>
                        {% endfor %}
                    </div>
                    <!-- TLAČÍTKO PRO PŘIDÁNÍ NOVÉHO FORMULÁŘE -->
                    <div class="text-end">
                        <button type="button" id="add-article-button" class="btn btn-secondary">
                            <i class="fa-solid fa-plus me-2"></i>Přidat artikl
                        </button>
                    </div>
                </fieldset>
                <!---->
                {% if article_formset.non_form_errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in article_formset.non_form_errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </form>
    </section>
{% endblock content %}
