{% extends "base.html" %}
{% block title %}
  zakazky
{% endblock title %}
<!---->
{% block content %}
  <section class="L-table">
    <div class="L-table__nav-panel">
      <form class="L-table__nav-panel__form" action="{% url 'orders' %}">
        <div class="L-table__nav-panel__form__group">
          <label for="status">Filter status</label>
          <select name="status" class="form-select L-table__select" id="status">
            <option value="" {% if not raw_status %}selected{% endif %}>Všechny</option>
            {% for status in statuses %}
              <option value="{{ status.value }}"
                      {% if raw_status == status.value %}selected{% endif %}>{{ status.label }}</option>
            {% endfor %}
          </select>
          {% if get_status %}
            Status:<span class="ms-2 u-txt-success-light">{{ get_status }}</span>
          {% else %}
            <span>Všechny záznamy:</span>
          {% endif %}
        </div>
        <!-- Input pro datum "od" -->
        <div class="L-table__nav-panel__form__group">
          <label for="start_date">Od:</label>
          <input type="date"
                 name="start_date"
                 id="start_date"
                 class="form-control"
                 value="{{ get_start|date:"Y-m-d" }}" />
          {% if get_start %}
            OD:<span class="ms-2 u-txt-success-light">{{ get_start|date:"d.m.Y" }}</span>
          {% else %}
            <span>Od počátku</span>
          {% endif %}
        </div>
        <!-- Input pro datum "do" -->
        <div class="L-table__nav-panel__form__group">
          <label for="end_date">Do:</label>
          <input type="date"
                 name="end_date"
                 id="end_date"
                 class="form-control"
                 value="{{ get_end|date:"Y-m-d" }}" />
          {% if get_end %}
            DO:<span class="ms-2 u-txt-success-light">{{ get_end|date:"d.m.Y" }}</span>
          {% else %}
            <span>Do dnes</span>
          {% endif %}
        </div>
        <!---->
        <div class="L-table__nav-panel__form__group">
          <button class="btn btn-primary" type="submit">
            <span class="me-2">Hledej</span>
            <i class="bi bi-search"></i>
          </button>
        </div>
        <!---->
      </form>
      <!---->
    </div>
    <hr />
    <!--table-->
    {% include "app_sprava_montazi/orders/partials/orders_all_table.html" %}
    <!---->
    <div class="L-table__nav-panel__buttons">
      <a href="{% url "order_create" %}" class="btn btn-primary">
        <i class="fa-solid fa-circle-plus me-2"></i>
        <span>Vytvořit zakázku</span>
      </a>
    </div>
  </section>
{% endblock content %}
