@use "../utils/" as *;
@use "../base/placeholders" as *;

.L-dashboard {
  width: 100%;

  .first_row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    & > * {
      font-size: 0.7rem;
      flex-basis: 25%;

      section {
        width: 60%;

        canvas {
          padding-bottom: 1em;
        }
      }
    }
  }

  .second_row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 0.6rem;

    > :first-child {
      width: 25%;
      flex-shrink: 0;
    }

    > :last-child {
      flex-grow: 1;
    }
  }

  &__item {
    background-color: var(--bck-list-item);
    border: 1px solid var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: transform 0.3s ease;
  }
}
