@use "../utils/" as *;
@use "../base/placeholders" as *;

.L-dashboard {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 sloupce */
    grid-template-rows: repeat(3, 1fr); /* 3 řádky */
    gap: 0.5em;

    &__item {
      background-color: var(--bck-list-item);
      border: 1px solid var(--shadow);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      transition: transform 0.3s ease;
      aspect-ratio: 1/1;

      canvas {
        padding: 0.5em;
      }

      &.top_left {
        transform-origin: top left; // základní roh pro transformaci

        &:active {
          transform: scale(2) translate(5%, 5%);
          z-index: 1;
        }
      }

      &.top_center {
        transform-origin: top center;

        &:active {
          transform: scale(2) translateY(5%);
          z-index: 1;
        }
      }

      &.top_right {
        transform-origin: top right; // zvětšuje se od horního pravého rohu

        &:active {
          transform: scale(2) translate(-5%, 5%);
          z-index: 1;
        }
      }

      &.left_center {
        transform-origin: left center; // zvětšuje se od středu levé strany

        &:active {
          transform: scale(2) translate(5%, 0); // posun doprava o 5%
          z-index: 1;
        }
      }

      &.center_center {
        transform-origin: center center; // zvětšuje se od středu

        &:active {
          transform: scale(2); // jen zvětšení, žádný posun
          z-index: 1;
        }
      }

      &.right_center {
        transform-origin: center right; // zvětšuje se od středu pravé strany

        &:active {
          transform: scale(2) translate(-5%, 0); // posun doleva o 5%
          z-index: 1;
        }
      }

      &.left_bottom {
        transform-origin: bottom left; // zvětšuje se od levého spodního rohu

        &:active {
          transform: scale(2) translate(5%, -5%); // doprava a nahoru
          z-index: 1;
        }
      }

      &.center_bottom {
        transform-origin: center bottom; // zvětšuje se od středu spodní hrany

        &:active {
          transform: scale(2) translateY(-5%); // posun nahoru o 5%
          z-index: 1;
        }
      }

      &.right_bottom {
        transform-origin: bottom right; // zvětšuje se od pravého spodního rohu

        &:active {
          transform: scale(2) translate(-5%, -5%); // doleva a nahoru
          z-index: 1;
        }
      }
    }
  }

  .grid-2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 sloupce */
    grid-template-rows: auto auto; /* 2 řádky */
    gap: 1em;

    &__item {
      background-color: var(--bck-list-item);
      border: 1px solid var(--shadow);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      transition: transform 0.3s ease;
    }
  }
}
