@use "../utils/" as *;
@use "../base/placeholders" as *;

.L-detail {
  @extend %transition-theme;

  margin-inline-start: 2%;
  margin-top: $header-margin;
  color: var(--txt-default);

  &__body {
    @include flex(flex-start, stretch, 2%);
  }

  &__fieldset {
    flex-grow: 1;
    max-width: 22rem;
    min-width: 20rem;
    flex-shrink: 0;

    &.right {
      overflow: auto;
      max-height: 100%;
    }

    &__header {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  &__hidden {
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-bottom: 0.75em;
  }

  &__item {
    @extend %transition-theme;
    @extend %border-radius;

    list-style-type: none;
    font-size: 0.9rem;
    margin-bottom: 0.25em;
    padding: 0.3em;
    background-color: var(--bck-list-item);
    border: 1px solid var(--border);
    box-shadow: 0 0 5px var(--shadow);
  }

  &__vynos_naklad_profit {
    border: none;
    padding: 0;
    margin: 0;

    .detail__header,
    .detail__content {
      margin: 0;
      padding: 0;
    }

    .detail__vynos,
    .detail__naklad,
    .detail__profit {
      flex-basis: 100%;
      border: 1px solid var(--border);
      text-align: center;
      padding-top: 0.2em;
      font-weight: 600;
    }

    .detail__profit {
      .detail__content.profit {
        background-color: var(--bck-profit);
      }

      .detail__content.ztrata {
        background-color: var(--bck-ztrata);
      }

      .detail__content.zero {
        background-color: var(--bck-zero);
      }
    }
  }
}
