@use "../utils/" as *;
@use "../base/placeholders" as *;

.L-detail {
  @extend %transition-theme;

  margin-inline-start: 2%;
  margin-top: 0.5em;
  color: var(--txt-default);

  &__fieldset {
    flex-grow: 1;
    max-width: 22rem;
    min-width: 20rem;
  }

  &__hidden {
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
  }

  &__item {
    @extend %transition-theme;

    list-style-type: none;
    margin-bottom: 0.3em;
    padding: 0.3em;
    background-color: var(--bck-list-item);
    border: 1px solid var(--border);
  }
}
