@use "../utils/" as *;
@use "../base/placeholders" as *;

.L-form {
  @extend %margin-in;

  width: clamp(12.5rem, 100%, 31.25rem);
  margin-top: 1em;
  color: var(--txt-default);

  &__form {
    padding-block: 0.5em;
  }

  &__header {
    margin-bottom: 1em;

    h2 {
      display: inline-block;
      text-decoration: underline;
    }
  }

  &__group {
    label,
    input {
      display: block;
    }

    input {
      margin-bottom: 1em;
    }
  }
}
