@use "../utils/" as *;
@use "../base/placeholders" as *;

.L-sidebar {
  @extend %select-none;
  @extend %transition-theme;
  @include flex(flex-start, flex-start);

  flex-direction: column;
  min-height: 100dvh;
  width: 12.5rem;
  background-color: var(--bck-sidebar);
  box-shadow: 1px 0 1px var(--shadow);
  padding: 1em;

  &__header {
    flex: 0 0 auto;
    width: 100%;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.5em;
    margin-bottom: 1em;

    &__link {
      @extend %transition-theme;

      color: var(--txt-default);
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
    }

    &__logo {
      font-weight: lighter;
    }
  }

  &__nav {
    flex: 1 1 auto;
    width: 100%;
  }

  &__nav-link {
    &.link {
      @extend %transition;

      &:hover {
        border-left: 3px solid var(--success);
      }

      &:active {
        transform: translateX(1px);
      }
    }

    @extend %transition-theme;

    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--txt-default);
    padding: 0.3em 0.5em;
    border-left: 3px solid transparent;
    cursor: pointer;

    &:hover {
      border-left: 3px solid var(--success);
    }

    &:active {
      transform: translateX(1px);
    }
  }

  &__span {
    margin-left: 1em;
  }

  &__btn {
    @extend %transition-theme;

    border: none;
    text-align: left;
    width: 100%;
    background-color: var(--bck-sidebar);
    color: var(--txt-default);
    display: block;
    text-decoration: none;
    padding: 0.3em 0.5em;
    border-left: 3px solid transparent;

    &:hover {
      border-left: 3px solid var(--success);
    }

    &:active {
      transform: translateX(1px);
    }
  }

  &__list {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    list-style: none;

    &__item {
      width: 100%;
      margin-bottom: 1em;

      &:last-child {
        margin-top: 3em;
        margin-bottom: 0;
      }
    }
  }

  .L-active {
    @extend %border-radius;

    background-color: var(--success);
    color: #f8f9fa;

    &:hover {
      border-left: 3px solid transparent;
      background-color: var(--success-darker);
    }
  }

  &__footer {
    flex: 0 0 auto;
    width: 100%;
    border-top: 1px solid var(--border);
    margin-top: 1em;
    padding-top: 0.5em;
  }
}

.bi-wrench-adjustable-circle {
  color: var(--success);
  font-size: 2rem;
}
