@use "../utils/" as *;
@use "../base/placeholders" as *;

.L-table {
  &__table {
    font-size: 0.75rem;

    thead th {
      @extend %transition-theme;

      color: var(--txt-default);
      background-color: var(--bck-table-head);
    }
  }

  &__body {
    &__link {
      border-color: var(--border);
      border-left: 2px solid transparent;

      &:hover {
        border-left: 2px solid var(--success);
      }

      td {
        border: 1px solid var(--border);
      }
    }

    &__link:nth-child(even) {
      td {
        @extend %transition-theme;

        color: var(--txt-default);
        background-color: var(--bck-table-row-even);
      }
    }

    &__link:nth-child(odd) {
      td {
        @extend %transition-theme;

        color: var(--txt-default);
        background-color: var(--bck-table-row-odd);
      }
    }
  }

  &__icon {
    font-size: 80%;
  }

  &__pagination {
    color: var(--txt-default);
    background-color: var(--bck-table-head);
    cursor: pointer;
  }

  &__select {
    max-width: 12.5rem;
    padding-right: 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  &__update {
    text-align: center;

    i {
      cursor: pointer;
      color: var(--success-lighter);
      text-shadow: 1px 1px 2px #00000084;
      transition: transform 0.1s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

// pagination disabled
.page-item.disabled {
  pointer-events: none;
  opacity: 0.2;

  span {
    @extend %transition-theme;

    background-color: var(--bck-table-head);
    color: var(--txt-default);
  }
}
