@use "../utils/" as *;
@use "../base/placeholders" as *;

.L-table {
  &__table {
    font-size: 90%;

    thead th {
      @extend %transition-theme;

      color: var(--txt-default);
      background-color: var(--bck-table-head);
    }
  }

  &__body {
    &__link {
      border-color: var(--border);
      border-left: 2px solid transparent;

      &:hover {
        border-left: 2px solid var(--success);
      }

      td {
        border: 1px solid var(--border);
      }
    }

    &__link:nth-child(even) {
      td {
        @extend %transition-theme;

        color: var(--txt-default);
        background-color: var(--bck-table-row-even);
      }
    }

    &__link:nth-child(odd) {
      td {
        @extend %transition-theme;

        color: var(--txt-default);
        background-color: var(--bck-table-row-odd);
      }
    }
  }

  &__icon {
    font-size: 80%;
  }

  &__pagination {
    color: var(--txt-default);
    background-color: var(--bck-table-head);
    cursor: pointer;
  }
}

.page-item.disabled {
  pointer-events: none;
  opacity: 0.2;

  span {
    @extend %transition-theme;

    background-color: var(--bck-table-head);
    color: var(--txt-default);
  }

  &__update {
    text-align: center;
    cursor: default;
    color: var(--success);
  }
}
