/* --- style --- */
/* --- root --- */
:root {
  --accent: #fd7e14;
  --success: #0d6efd;
  --success-darker: #004ec3;
  --success-lighter: #428cfc;
  --info: #198754;
  --error: #dc3545;
}

[data-theme=light] {
  --border: rgba(33, 37, 41, 0.2901960784);
  --shadow: rgba(33, 37, 41, 0.1843137255);
  --bck-list-item: white;
  --bck-sidebar: #f8f9fa;
  --bck-body: #f8f9fa;
  --bck-table-head: #cfcfcf;
  --bck-table-row-even: #f3f3f3;
  --bck-table-row-odd: #fff;
  --bck-table-row-hover: #e5e5e5;
  --txt-default: #212529;
  --txt-muted: #d6d6d6;
}

[data-theme=dark] {
  --border: rgba(248, 249, 250, 0.2392156863);
  --shadow: rgba(248, 249, 250, 0.0705882353);
  --bck-list-item: black;
  --bck-sidebar: #212529;
  --bck-body: #212529;
  --bck-table-head: #212529;
  --bck-table-row-odd: #2c2c2c;
  --bck-table-row-even: #212529;
  --bck-table-row-hover: #4f4f4f;
  --txt-default: #f8f9fa;
  --txt-muted: #a8a8a8;
}

/* --- base --- */
body,
body.home {
  opacity: 1;
  background-color: var(--scheme-clr-1);
}

[data-opacity=full] {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

[data-opacity=half] {
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

/* --- placeholders --- */
.L-sidebar {
  user-select: none;
}

.L-form__group .L-form__input,
.L-form__group input, .L-form__group .L-form__select, .L-form__group .L-form__date, .L-sidebar .L-active {
  border-radius: 5px;
}

.L-sidebar__nav-link.link {
  transition: 0.1s all ease-in-out;
}

.P-body, .L-detail, .L-detail__item, .L-table__table thead th, .L-table .dt-input, .L-form, .L-form__group .L-form__input,
.L-form__group input, .L-form__group .L-form__select, .L-form__group .L-form__date, .L-sidebar, .L-sidebar__header__link, .L-sidebar__nav-link, .L-sidebar__btn {
  transition: 0.5s background-color ease-in-out, 0.5s color ease-in-out;
}

/* --- utils --- */
.u-txt-center {
  text-align: center !important;
}

.u-txt-right {
  text-align: right !important;
}

.u-txt-left {
  text-align: left !important;
}

.u-txt-smaller {
  font-size: 80%;
}

.u-txt-success {
  color: var(--success) !important;
  text-shadow: 0 0 1px var(--success);
}

.u-txt-info {
  color: var(--info) !important;
  text-shadow: 0 0 1px var(--info);
}

.u-txt-warning {
  color: orange !important;
  text-shadow: 0 0 1px orange;
}

.u-txt-error {
  color: var(--error) !important;
  text-shadow: 0 0 1px var(--error);
}

.u-txt-trans {
  color: transparent !important;
}

.u-mb-small {
  margin-bottom: 1rem;
}

.u-mb-medium {
  margin-bottom: 2.5rem;
}

.u-mb-big {
  margin-bottom: 5rem;
}

.u-mt-medium {
  margin-top: 2.5rem;
}

.u-s-none {
  user-select: none;
}

.u-flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2%;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.L-sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
  min-height: 100dvh;
  width: 11.25rem;
  background-color: var(--bck-sidebar);
  box-shadow: 1px 0 1px var(--shadow);
  padding: 0.5em;
}
.L-sidebar__header {
  flex: 0 0 auto;
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
.L-sidebar__header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  color: var(--txt-default);
  text-decoration: none;
}
.L-sidebar__header__logo {
  font-weight: lighter;
}
.L-sidebar__nav {
  flex: 1 1 auto;
  width: 100%;
}
.L-sidebar__nav-link {
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--txt-default);
  padding: 0.3em 0.5em;
  border-left: 3px solid transparent;
  cursor: pointer;
}
.L-sidebar__nav-link.link:hover {
  border-left: 3px solid var(--success);
}
.L-sidebar__nav-link.link:active {
  transform: translateX(1px);
}
.L-sidebar__nav-link:hover {
  border-left: 3px solid var(--success);
}
.L-sidebar__nav-link:active {
  transform: translateX(1px);
}
.L-sidebar__span {
  margin-left: 1em;
}
.L-sidebar__btn {
  width: 100%;
  display: block;
  text-align: left;
  padding: 0.3em 0.5em;
  background-color: var(--bck-sidebar);
  color: var(--txt-default);
  text-decoration: none;
  border: none;
  border-left: 3px solid transparent;
}
.L-sidebar__btn:hover {
  border-left: 3px solid var(--success);
}
.L-sidebar__btn:active {
  transform: translateX(1px);
}
.L-sidebar__list {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.L-sidebar__list__item {
  width: 100%;
  margin-bottom: 1em;
}
.L-sidebar__list__item:last-child {
  margin-block: 3em 0;
}
.L-sidebar .L-active {
  background-color: var(--success);
  color: #f8f9fa;
}
.L-sidebar .L-active:hover {
  border-left: 3px solid transparent;
  background-color: var(--success-darker);
}
.L-sidebar__footer {
  flex: 0 0 auto;
  width: 100%;
  border-top: 1px solid var(--border);
  margin-top: 1em;
  padding-top: 0.5em;
}

.bi-wrench-adjustable-circle {
  color: var(--success);
  font-size: 1.8rem;
}

.L-form {
  margin-inline-start: 2%;
  margin-top: 0.5em;
  color: var(--txt-default);
}
.L-form__group {
  margin-bottom: 0.3em;
}
.L-form__group label {
  user-select: none;
  display: block;
}
.L-form__group .L-form__input,
.L-form__group input {
  display: block;
  width: 100%;
  color: var(--txt-default);
  background-color: var(--bck-table-head);
  padding: 0.3em 0.5em;
  border: 1px solid var(--border);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4117647059);
}
.L-form__group .L-form__checkbox {
  display: block;
  width: 1.875rem;
  aspect-ratio: 1/1;
  margin-inline: 4em;
  margin-bottom: 0.3em;
}
.L-form__group .L-form__select {
  display: block;
  width: 100%;
  color: var(--success-lighter);
  background-color: var(--bck-table-head);
  font-weight: bold;
  padding: 0.3em 0.5em;
}
.L-form__group .L-form__select option {
  color: var(--success-lighter);
  font-weight: bold;
}
.L-form__group .L-form__date {
  width: 100%;
  display: block;
  color: var(--txt-default);
  background-color: var(--bck-table-head);
  padding: 0.3em 0.5em;
  border: 1px solid var(--border);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4117647059);
  cursor: pointer;
}
.L-form__fieldset {
  flex-grow: 1;
  max-width: 22rem;
  min-width: 20rem;
  flex-shrink: 0;
}
.L-form__error ul {
  padding: 0;
  margin: 0;
}
.L-form__error ul li {
  color: var(--error);
  list-style: none;
  line-height: 1;
  margin: 0;
  padding: 0.3em;
}
.L-form__articles {
  display: none;
}
.L-form__articles label {
  display: inline-block;
}

.L-table {
  width: clamp(30rem, 100%, 87.5rem);
  margin-inline-start: 2%;
}
.L-table__nav-panel {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 0;
}
.L-table__nav-panel__form {
  flex: 0;
}
.L-table__nav-panel__buttons {
  flex: 1;
  text-align: right;
}
.L-table__table {
  font-size: 0.75rem;
}
.L-table__table thead th {
  color: var(--txt-default);
  background-color: var(--bck-table-head);
}
.L-table__body__row {
  border-color: var(--border);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.L-table__body__row:hover {
  border-left: 3px solid var(--success);
  border-right: 3px solid var(--success);
}
.L-table__icon {
  font-size: 80%;
}
.L-table__select {
  width: 9.625rem !important;
  padding-right: 1rem;
  cursor: pointer;
}
.L-table__link {
  color: var(--txt-default);
}
.L-table__update {
  text-align: center;
}
.L-table__update i {
  cursor: pointer;
  color: var(--success-lighter);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5176470588);
  transition: transform 0.1s ease-in-out;
}
.L-table__update i:hover {
  transform: scale(1.2);
}
.L-table__update i:active {
  transform: scale(0.9);
}

.L-table .dt-input {
  background-color: var(--bck-table-head) !important;
  color: var(--txt-default) !important;
  border-color: var(--border) !important;
}

.L-detail {
  margin-inline-start: 2%;
  margin-top: 0.5em;
  color: var(--txt-default);
}
.L-detail__fieldset {
  flex-grow: 1;
  max-width: 22rem;
  min-width: 20rem;
}
.L-detail__hidden {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}
.L-detail__list {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.L-detail__item {
  list-style-type: none;
  margin-bottom: 0.3em;
  padding: 0.3em;
  background-color: var(--bck-list-item);
  border: 1px solid var(--border);
}

.C-spinner {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}

.C-messages {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 80%;
  width: fit-content;
  height: fit-content;
}

.P-body {
  background-color: var(--bck-body);
  color: var(--txt-default);
}

.P-container {
  width: clamp(64rem, 100%, 90%);
  padding-inline: 1%;
  margin-inline: auto;
}

.P-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}

.P-main {
  flex: 1;
  position: relative;
  isolation: isolate;
}

.P-sidebar {
  flex: 0 0 auto;
}

/*# sourceMappingURL=style.css.map */
