{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  login
{% endblock title %}
{% block content %}
  <section class="L-form">
    <div>
      <h2>Přihlášení</h2>
      <form class="L-form__form" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Odeslat</button>
      </form>
      {% if form.non_field_errors %}<div>{{ form.non_field_errors }}</div>{% endif %}
      <p>
        Nemáte účet? <a href="{% url 'signup' %}">Zaregistrujte se</a>
      </p>
    </div>
  </section>
{% endblock content %}
