{% extends "base.html" %}
{% block title %}
  Přihlášení
{% endblock title %}
<!---->
{% block content %}
  <section class="L-form">
    <fieldset class="L-form__fieldset">
      <form method="post" novalidate>
        {% csrf_token %}
        <legend>Přihlášení</legend>
        <!---->
        <div class="L-form__group">
          <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
          {{ form.username }}
          {% if form.username.errors %}<div class="L-form__error">{{ form.username.errors }}</div>{% endif %}
        </div>
        <!---->
        <div class="L-form__group">
          <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          {{ form.password }}
          {% if form.password.errors %}<div class="L-form__error">{{ form.password.errors }}</div>{% endif %}
        </div>
        <!---->
        {% if form.non_field_errors %}
          <!---->
          <div class="L-form__error">{{ form.non_field_errors }}</div>
        {% endif %}
        <!---->
        <div class="u-txt-right mt-3">
          <button type="submit" class="btn btn-primary">Přihlásit</button>
          <p class="u-txt-right mt-3">
            Nemáte účet? <a href="{% url 'signup' %}">Zaregistrujte se</a>
          </p>
        </div>
      </form>
    </fieldset>
  </section>
{% endblock content %}
