{% extends "base.html" %}
{% load static %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <section class="L-form">
        <div>
            <h2>Registrace</h2>
            <form class="L-form__form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Registrovat</button>
            </form>
            {% if form.non_field_errors %}<div>{{ form.non_field_errors }}</div>{% endif %}
            <p>
                Máte už účet? <a href="{% url 'login' %}">Přihlaste se</a>
            </p>
        </div>
    </section>
{% endblock content %}
