{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <section class="L-form">
        <div class="L-form__wrapper-form">
            <header class="L-form__header">
                <h2>Registrace</h2>
            </header>
            <form class="L-form__form" method="post">
                {% csrf_token %}
                <div class="L-form__group">
                    <label for="{{ form.username.id_for_label }}">
                        {{ form.username.label }}
                        {{ form.username }}
                    </label>
                </div>
                <div class="L-form__group">
                    <label for="{{ form.password1.id_for_label }}">
                        {{ form.password1.label }}
                        {{ form.password1 }}
                    </label>
                </div>
                <div class="L-form__group">
                    <label for="{{ form.password2.id_for_label }}">
                        {{ form.password2.label }}
                        {{ form.password2 }}
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Registrovat</button>
            </form>
            <p>
                Máte účet?&nbsp;&nbsp;<a href="{% url 'login' %}">Přihlaste se</a>
            </p>
        </div>
        {% if form.errors %}
            <div class="L-form__wrapper-error">
                <div class="L-form__error">{{ form.non_field_errors }}</div>
                <div class="L-form__error">{{ form.username.errors }}</div>
                <div class="L-form__error">{{ form.password1.errors }}</div>
                <div class="L-form__error">{{ form.password2.errors }}</div>
            </div>
        {% endif %}
    </section>
{% endblock content %}
