{% extends "base.html" %}
{% block title %}
    Registrace
{% endblock title %}
<!---->
{% block content %}
    <section class="L-form">
        <div class="L-form__wrapper">
            <form class="L-form__form" method="post" novalidate>
                {% csrf_token %}
                <fieldset class="L-form__fieldset">
                    <legend class="L-form__legend">Registrace</legend>
                    <!---->
                    <div class="L-form__group">
                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        {{ form.username }}
                        {% if form.username.errors %}<div class="L-form__error">{{ form.username.errors }}</div>{% endif %}
                    </div>
                    <!---->
                    <div class="L-form__group">
                        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}<div class="L-form__error">{{ form.password1.errors }}</div>{% endif %}
                    </div>
                    <!---->
                    <div class="L-form__group">
                        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}<div class="L-form__error">{{ form.password2.errors }}</div>{% endif %}
                    </div>
                    {% if form.non_field_errors %}
                        <!---->
                        <div class="L-form__error">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <!---->
                    <div class="u-txt-right mt-3">
                        <button type="submit" class="btn btn-primary">Registrovat</button>
                        <p class="u-txt-right mt-3">
                            Máte účet? <a href="{% url 'login' %}">Přihlaste se</a>
                        </p>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
{% endblock content %}
