<section>
    <p class="u-txt-center">Uzavrene Zakazky</p>
    <canvas id="closedOrders"></canvas>
    <script>
            document.addEventListener("DOMContentLoaded", function () {
                const ctx = document.querySelector("#closedOrders");

                const data = {
                    labels: [1, 2, 3],
                    datasets: [{
                        data: [30, 10, 10],
                        label: "Value"
                    }]
                };

                const closedOrders = new Chart(ctx, {
                    type: 'polarArea',
                    data: data
                });
            });
    </script>
</section>
