<section class="grid-2x2">
    <!---->
    <div>
        <div class="alert alert-primary">Celkem: {{ count_all }}</div>
    </div>
    <!---->
    <div>
        {% if is_invalid %}
            <div class="alert alert-danger">Invalid: {{ invalid_count }}</div>
        {% else %}
            <div class="alert alert-success">{{ invalid_count }}</div>
        {% endif %}
    </div>
    <!---->
    <div>
        <div class="alert alert-secondary">Skryto: {{ hidden }}</div>
    </div>
    <!---->
    <div>
        {% if has_no_montage_term %}
            <div class="alert alert-warning">Bez termínu montáže: {{ no_montage_term_count }}</div>
        {% else %}
            <div class="alert alert-success">Bez termínu montáže: {{ no_montage_term_count }}</div>
        {% endif %}
    </div>
</section>
