.C-protocol {
  .C-protocol-image {
    width: 85%;
    opacity: 0.7;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 5px var(--shadow);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
