{% extends "base.html" %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <section class="L-dashboard">
        <h1>Dashboard</h1>
        <hr>
        <div class="L-dashboard__grid">
            <div class="L-dashboard__grid__item top_left">
                <!-- open orders -->
                {% include "app_sprava_montazi/dashboard/partials/open_orders.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item top_center">
                <!-- closed orders -->
                {% include "app_sprava_montazi/dashboard/partials/closed_orders.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item top_right">
                <!-- adviced type orders -->
                {% include "app_sprava_montazi/dashboard/partials/adviced_orders.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item left_center">
                <!-- invalid orders -->
                {% include "app_sprava_montazi/dashboard/partials/invalid_orders.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item center_center">5</div>
            <!---->
            <div class="L-dashboard__grid__item right_center">6</div>
            <!---->
            <div class="L-dashboard__grid__item left_bottom">7</div>
            <!---->
            <div class="L-dashboard__grid__item center_bottom">8</div>
            <!---->
            <div class="L-dashboard__grid__item right_bottom">9</div>
            <!---->
        </div>
    </section>
{% endblock content %}
