{% extends "base.html" %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <section class="L-dashboard">
        <div class="L-table__nav-panel">
            <form method="get" class="L-table__nav-panel__form" action="{% url 'dashboard' %}">
                <div class="L-table__nav-panel__form__group">
                    <label for="id_month">Měsíc</label>
                    {{ form.month }}
                </div>
                <div class="L-table__nav-panel__form__group">
                    <label for="id_year">Rok</label>
                    {{ form.year }}
                </div>
                <div class="L-table__nav-panel__form__group">
                    <button type="submit" class="shadow_button btn btn-primary btn-sm mt-4">
                        <span class="me-2">Hledej</span>
                        <i class="bi bi-search"></i>
                    </button>
                    <div class="u-txt-right mt-1">
                        <a href="{% url 'dashboard' %}" class="shadow_button btn btn-sm btn-primary p-0 ps-1 pe-1 lh-sm">reset</a>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div class="L-dashboard__grid">
            <div class="L-dashboard__grid__item top_left">
                <!-- open orders -->
                {% include "app_sprava_montazi/dashboard/partials/open_orders.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item top_center">
                <!-- closed orders -->
                {% include "app_sprava_montazi/dashboard/partials/closed_orders.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item top_right">
                <!-- adviced type orders -->
                {% include "app_sprava_montazi/dashboard/partials/adviced_orders.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item left_center">
                <!-- invalid orders -->
                {% include "app_sprava_montazi/dashboard/partials/invalid_orders.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item center_center no-zoom" style="grid-column: span 2;">
                {% include "app_sprava_montazi/dashboard/partials/new_orders_issues.html" %}
            </div>
            <!---->
            <div class="L-dashboard__grid__item left_bottom"></div>
            <!---->
            <div class="L-dashboard__grid__item center_bottom no-zoom" style="grid-column: span 2;">
                {% include "app_sprava_montazi/dashboard/partials/customer_r_orders.html" %}
            </div>
            <!---->
        </div>
    </section>
{% endblock content %}
