{% extends "base.html" %}
{% block content %}
    <section class="L-form">
        <div class="L-form__wrapper-form">
            <div class="L-form__header">
                <h2>Nový tým</h2>
            </div>
            <form method="post" class="L-form__form" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="u-txt-right">
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
