{% extends "base.html" %}
{% block title %}
    detail tymu
{% endblock title %}
<!---->
{% block content %}
    <section class="L-detail">
        <div class="L-detail__body">
            <!---->
            {% include "app_sprava_montazi/teams/partials/team_detail_partial.html" %}
        </div>
        <!---->
        <hr>
        <a href="{% url 'teams' %}"
           class="btn btn-secondary btn-sm u-width-180 text-nowrap me-2">
            <i class="fa-solid fa-backward me-2"></i>Zpět na seznam </a>
    </section>
{% endblock content %}
