{% for team in teams %}
    <tr class="L-table__body__row">
        <!--jmeno-->
        <td>
            <a href="{% url "team_detail" slug=team.slug %}" class="L-table__link">{{ team.name }}</a>
        </td>
        <!--mesto-->
        <td>{{ team.city }}</td>
        <!--region-->
        <td>{{ team.region }}</td>
        <!--active-->
        {% if team.active %}
            <td class="u-txt-center u-s-none">
                <i class="fa-solid fa-check u-txt-success"></i>
                <span class="u-txt-trans">0</span>
            </td>
        {% else %}
            <td class="u-txt-center u-s-none">
                <i class="fa-solid fa-xmark u-txt-warning"></i>
                <span class="u-txt-trans">1</span>
            </td>
        {% endif %}
        <!--cena hod-->
        {% if team.price_per_hour_float == 0.0 %}
            <td class="u-txt-warning u-txt-center">-</td>
        {% else %}
            <td class="u-txt-center">{{ team.price_per_hour_float }}</td>
        {% endif %}
        <!--cena km-->
        {% if team.price_per_km_float == 0.0 %}
            <td class="u-txt-warning u-txt-center">-</td>
        {% else %}
            <td class="u-txt-center">{{ team.price_per_km_float }}</td>
        {% endif %}
        <!--notes-->
        <td title="{{ team.notes }}" class="u-txt-center">{{ team.first_15 }}</td>
    </tr>
{% endfor %}
