<table class="L-table__table nowrap hover order-column display"
       id="teamTable"
       data-opacity="full">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Město</th>
            <th>Region</th>
            <th>Aktivní</th>
            <th>Cena/hod</th>
            <th>Cena/km</th>
            <th>Poznámky</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody class="L-table__body">
        {% include "app_sprava_montazi/teams/partials/teams_all_row.html" %}
    </tbody>
</table>
