<!DOCTYPE html>
{% load static %}
<html lang="cs" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                Default Title
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
        <link rel="stylesheet"
              href="{% static "fonts/fontAwesome_css/all.min.css" %}" />
        <link rel="stylesheet"
              href="{% static "fonts/fontAwesome_css/fontawesome.min.css" %}" />
        <link rel="stylesheet"
              href="{% static "fonts/bootstrap_icons/font/bootstrap-icons.min.css" %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body class="P-body">
        <div class="P-container">
            <div class="P-wrapper">
                <!-- Left side navigation -->
                <aside class="L-sidebar P-sidebar">
                    <header class="L-sidebar__header">
                        <i class="bi bi-wrench-adjustable-circle"></i><span class="L-sidebar__span">Rhenus HD - AMS</span>
                    </header>
                    <nav class="L-sidebar__nav">
                        <ul class="L-sidebar__list">
                            <li class="L-sidebar__list__item">
                                <a href="{% url "homepage" %}" class="L-sidebar__nav-link"><i class="bi bi-house"></i><span class="L-sidebar__span">Home</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="{% url "dashboard" %}" class="L-sidebar__nav-link"><i class="bi bi-speedometer2"></i><span class="L-sidebar__span">Dashboard</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="#" class="L-sidebar__nav-link"><i class="bi bi-tools"></i><span class="L-sidebar__span">Vytvořit</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="#" class="L-sidebar__nav-link"><i class="bi bi-table"></i><span class="L-sidebar__span">Zakázky</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="#" class="L-sidebar__nav-link"><i class="bi bi-grid"></i><span class="L-sidebar__span">Sestavy</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="#" class="L-sidebar__nav-link"><i class="bi bi-people"></i><span class="L-sidebar__span">Týmy</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="{% url "logout" %}" class="L-sidebar__nav-link"><i class="bi bi-box-arrow-left"></i><span class="L-sidebar__span">Logout</span></a>
                            </li>
                        </ul>
                    </nav>
                    <footer class="L-sidebar__footer">
                        <p>DaliborZ-tech ©2025</p>
                    </footer>
                </aside>
                <!-- Right side content -->
                <main class="P-main">
                    {% block content %}
                        <!-- Main content will go here -->
                    {% endblock content %}
                </main>
            </div>
            <button id="themeToggler" class="btn btn-primary">
                <i class="fa-solid fa-toggle-off"></i><span class="ms-2">Přepnout motiv</span>
            </button>
        </div>
        {% block scripts %}
            <!-- JavaScript files go here -->
            <script src="{% static "js/bootstrap.bundle.min.js " %}"></script>
            <script src="{% static "js/hmtx.min.js " %}"></script>
            <script src="{% static "js/script.js " %}"></script>
        {% endblock scripts %}
    </body>
</html>
