<!DOCTYPE html>
{% load static %}
<html lang="cs" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Rhenus HD - Asset Management System for maintenance and repair operations" />
        <meta name="keywords"
              content="rhenus, asset management, maintenance, repair, operations, industrial services" />
        <title>
            {% block title %}
                Rhenus
            {% endblock title %}
        </title>
        {% include "includes/css.html" %}
    </head>
    <body class="P-body">
        <div class="P-container">
            <div class="P-wrapper">
                <!-- Left side navigation -->
                <aside class="L-sidebar P-sidebar" id="leftSide">
                    <header class="L-sidebar__header">
                        <a href="{% url "index" %}" class="L-sidebar__header__link">
                            <i class="bi bi-wrench-adjustable-circle"></i>
                            <span class="L-sidebar__header__logo">Rhenus HD - AMS</span>
                        </a>
                    </header>
                    <nav class="L-sidebar__nav" id="nav">
                        <ul class="L-sidebar__list">
                            <li class="L-sidebar__list__item">
                                <a hx-get="{% url "homepage" %}"
                                   hx-target="#content"
                                   hx-indicator="#spinner"
                                   class="L-sidebar__nav-link link">
                                    <i class="bi bi-house"></i>
                                    <span class="L-sidebar__span">Home</span>
                                </a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a hx-get="{% url "dashboard" %}"
                                   hx-target="#content"
                                   hx-indicator="#spinner"
                                   class="L-sidebar__nav-link link"><i class="bi bi-speedometer2"></i><span class="L-sidebar__span">Dashboard</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="#" class="L-sidebar__nav-link link"><i class="bi bi-tools"></i><span class="L-sidebar__span">Vytvořit</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a hx-get="{% url "orders_all" %}"
                                   hx-target="#content"
                                   hx-indicator="#spinner"
                                   class="L-sidebar__nav-link link"><i class="bi bi-table"></i><span class="L-sidebar__span">Zakázky</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="#" class="L-sidebar__nav-link link"><i class="bi bi-grid"></i><span class="L-sidebar__span">Sestavy</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <a href="#" class="L-sidebar__nav-link link"><i class="bi bi-people"></i><span class="L-sidebar__span">Týmy</span></a>
                            </li>
                            <li class="L-sidebar__list__item">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="L-sidebar__btn">
                                        <i class="bi bi-box-arrow-left"></i><span class="L-sidebar__span">Logout</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <button id="themeToggler" class="L-sidebar__btn">
                        <i class="fa-solid fa-toggle-off"></i><span class="L-sidebar__span">Theme</span>
                    </button>
                    {% include "app_sprava_montazi/partials/spinner.html" %}
                    <footer class="L-sidebar__footer">
                        <p>DaliborZ-tech ©2025</p>
                    </footer>
                </aside>
                <!-- Right side content -->
                <main class="P-main">
                    {% block content %}
                        <section id="content" hx-swap="innerHTML">
                            <!-- Main content will go here -->
                        </section>
                    {% endblock content %}
                </main>
            </div>
        </div>
        {% include "includes/scripts.html" %}
        {% block scripts %}
            <!-- JavaScript files go here -->
        {% endblock scripts %}
    </body>
</html>
