{% if form.non_field_errors %}<div class="L-form__error">{{ form.non_field_errors }}</div>{% endif %}
<!---->
{% for field in form %}
    <div class="L-form__group {% if field.field.widget.input_type == 'hidden' %}d-none{% endif %}">
        {% if field.field.widget.input_type != 'hidden' %}{{ field.label_tag }}{% endif %}
        {{ field }}
    </div>
    {% if field.errors %}<div class="L-form__error">{{ field.errors }}</div>{% endif %}
{% endfor %}
{% if form_type == "create" %}
    <div class="u-txt-right">
        <button class="btn btn-outline-secondary form__delete C-clear-form">Vyčistit</button>
    </div>
{% endif %}
