<div class="container mt-3 L-table">
    <h2 class="mb-2">
        <i class="bi bi-list-ul L-table__icon"></i> Seznam zakázek
    </h2>
    <table class="L-table__table table table-hover">
        <thead>
            <tr>
                <th>Název</th>
                <th>Místo určení</th>
                <th>Mandant</th>
            </tr>
        </thead>
        <tbody class="L-table__body">
            {% for order in page_obj %}
                <tr class="L-table__body__link">
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.distrib_hub }}</td>
                    <td>{{ order.mandant }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Žádné objednávky</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link L-table__pagination"
                       hx-get="{% url 'orders_all' %}?page={{ page_obj.previous_page_number }}"
                       hx-indicator="#spinner"
                       hx-target="#content"
                       hx-push-url="true">Předchozí</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link L-table__pagination">Předchozí</span>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="L-table__pagination page-link ">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="L-table__pagination page-link "
                           hx-get="{% url 'orders_all' %}?page={{ num }}"
                           hx-indicator="#spinner"
                           hx-target="#content"
                           hx-push-url="true">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="L-table__pagination page-link "
                       hx-get="{% url 'orders_all' %}?page={{ page_obj.next_page_number }}"
                       hx-target="#content"
                       hx-indicator="#spinner"
                       hx-push-url="true">Další</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link L-table__pagination">Další</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
