<table class="L-table__table nowrap hover order-column display"
       id="orderTable"
       data-opacity="full">
    <thead>
        <tr>
            <th>Číslo zakázky</th>
            <th>Místo určení</th>
            <th>Mandant</th>
            <th>Termín doručení</th>
            <th>Zákazník</th>
            <th>PSC</th>
            <th>Realizace kým</th>
            <th>Montážní tým</th>
            <th>Termín montáže</th>
            <th>Status</th>
            <th>Poznámka</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody class="L-table__body">
        {% include "app_sprava_montazi/partials/orders_all_row.html" %}
    </tbody>
</table>
