<div class="container mt-2 L-table">
    <h3 class="mb-3 u-text-warning">
        <i class="bi bi-list-ul L-table__icon"></i> Seznam zakázek
    </h3>
    <form hx-post="{% url "orders_search" %}"
          hx-target="#content"
          hx-indicator="#spinner"
          hx-push-url="true">
        {% csrf_token %}
        <div class="input-group mb-3">
            <select name="status" class="form-select L-table__select">
                <option value="">Všechny</option>
                {% for status in statuses %}
                    <!---->
                    <option value="{{ status.value }}">{{ status.label }}</option>
                    <!---->
                {% endfor %}
            </select>
            <input type="search" name="q" class="form-control" placeholder="Hledej ...">
            <button class="btn btn-primary" type="submit">
                <span>Hledej&nbsp;</span>
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
    <hr>
    <table class="L-table__table table table-hover">
        <thead>
            <tr>
                <th>Číslo zakázky</th>
                <th>Místo určení</th>
                <th>Mandant</th>
                <th>Termín doručení</th>
                <th>Zákazník</th>
                <th>PSC</th>
                <th>Realizace kým</th>
                <th>Montážní tým</th>
                <th>Status</th>
                <th>Poznámka</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody class="L-table__body">
            {% for order in page_obj %}
                <tr class="L-table__body__link">
                    <!--cislo zakazky-->
                    <td>{{ order.order_number|upper }}</td>
                    <!--misto urceni-->
                    <td>{{ order.distrib_hub }}</td>
                    <!--mandant-->
                    <td>{{ order.mandant }}</td>
                    <!--Termin doruceni-->
                    {% if order.delivery_termin %}
                        <td>{{ order.delivery_termin }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <!--zakaznik-->
                    {% if order.client.incomplete %}
                        <td title="{{ order.client.name }}" class="u-txt-warning">⚠️&nbsp;{{ order.client }}</td>
                    {% else %}
                        <td title="{{ order.client.name }}" class="u-txt-success">
                            <i class="fa-solid fa-check"></i>&nbsp;{{ order.client }}
                        </td>
                    {% endif %}
                    <!--PSC-->
                    <td>{{ order.client.zip_code }}</td>
                    <!--Realizace kym-->
                    {% if order.team_type == "By_assembly_crew" %}
                        <td class="u-txt-success">{{ order.get_team_type_display }}</td>
                    {% else %}
                        <td>{{ order.get_team_type_display }}</td>
                    {% endif %}
                    <!--Team-->
                    {% if order.is_missing_team %}
                        <td class="u-txt-warning">⚠️&nbsp;Nevybráno</td>
                    {% elif order.team %}
                        <td class="u-txt-success">
                            <i class="fa-solid fa-check"></i>&nbsp;{{ order.team }}
                        </td>
                    {% else %}
                        <td class="u-txt-center">–</td>
                    {% endif %}
                    <!--Status-->
                    <td>{{ order.get_status_display }}</td>
                    <!--poznamka-->
                    {% if order.notes_first_10 %}
                        <td title="{{ order.notes }}">{{ order.notes_first_10 }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <!--CTA icons-->
                    <td class="L-table__update">
                        <i class="fa-solid fa-file-pen me-2"></i>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Žádné objednávky</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link L-table__pagination"
                       hx-get="{% url 'orders_all' %}?page={{ page_obj.previous_page_number }}"
                       hx-indicator="#spinner"
                       hx-target="#content"
                       hx-push-url="true">Předchozí</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link L-table__pagination">Předchozí</span>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="L-table__pagination page-link ">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="L-table__pagination page-link "
                           hx-get="{% url 'orders_all' %}?page={{ num }}"
                           hx-indicator="#spinner"
                           hx-target="#content"
                           hx-push-url="true">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="L-table__pagination page-link "
                       hx-get="{% url 'orders_all' %}?page={{ page_obj.next_page_number }}"
                       hx-target="#content"
                       hx-indicator="#spinner"
                       hx-push-url="true">Další</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link L-table__pagination">Další</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
