{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}<div>{{ error }}</div>{% endfor %}
    </div>
{% endif %}
<div class="row mb-3"
     data-form-index="{{ form.prefix|default:'__prefix__' }}">
    {{ form.id }}
    <div class="L-form__group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% for error in form.name.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
    </div>
    <div class="u-flex-row">
        <div>
            <!-- Price -->
            <div class="L-form__group">
                {{ form.price.label_tag }}
                {{ form.price }}
            </div>
            <div class="L-form__error">
                {% if form.price.errors %}{{ form.price.errors }}{% endif %}
            </div>
        </div>
        <div>
            <!-- Quantity -->
            <div class="L-form__group">
                {{ form.quantity.label_tag }}
                {{ form.quantity }}
            </div>
            <div class="L-form__error">
                {% if form.quantity.errors %}{{ form.quantity.errors }}{% endif %}
            </div>
        </div>
        <div>
            <label class="form-check-label" for="{{ form.is_sofa.id_for_label }}">{{ form.is_sofa.label }}</label>
            {{ form.is_sofa }}
            {% for error in form.is_sofa.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </div>
    </div>
    <div class="L-form__group">
        {{ form.note.label_tag }}
        {{ form.note }}
    </div>
    <!---->
    {% if form_type == "create" %}
        <span class="d-none">{{ form.DELETE }}</span>
        <div class="u-flex-row-between-start">
            {% if article_formset.can_delete %}
                <button type="button"
                        class="remove-article-button btn btn-danger btn-sm u-txt-smaller mb-2">
                    <i class="fa-solid fa-minus me-2"></i>Odebrat artikl
                </button>
            {% endif %}
            <button class="btn btn-outline-secondary form__delete C-clear-form">Vyčistit</button>
        </div>
    {% else %}
        <span class="d-none">{{ form.DELETE }}</span>
        <div class="u-flex-row-between-start">
            {% if article_formset.can_delete %}
                <button type="button" class="remove-article-button btn btn-danger btn-sm">Odebrat artikl</button>
            {% endif %}
        </div>
    {% endif %}
</div>
