<section class="L-form m-0">
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <fieldset class="L-form__fieldset">
            <legend class="L-form__header mb-0">Telefonát</legend>
            {% for form in formset %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}<div>{{ error }}</div>{% endfor %}
                    </div>
                {% endif %}
                <!-- note -->
                <div class="L-form__group">
                    {{ form.note.label_tag }}
                    {{ form.note }}
                </div>
                <div class="L-form__error">
                    {% if form.note.errors %}{{ form.note.errors }}{% endif %}
                </div>
                <!-- successful -->
                <div class="L-form__group">
                    {{ form.was_successful.label_tag }}
                    {{ form.was_successful }}
                </div>
                <div class="L-form__error">
                    {% if form.was_successful.errors %}{{ form.was_successful.errors }}{% endif %}
                </div>
            {% endfor %}
            <!---->
            <div class="u-txt-right">
                <button type="submit" class="btn btn-primary">Uložit hovory</button>
            </div>
        </fieldset>
    </form>
</section>
