<fieldset class="L-detail__fieldset {% if show %}L-detail__hidden{% endif %}">
    <div>
        <legend>Artikly</legend>
        {% if articles %}
            {% include "app_sprava_montazi/orders/partials/order_detail_article_table.html" %}
        {% else %}
            {% include "app_sprava_montazi/orders/partials/order_detail_article_table.html" %}
        {% endif %}
    </div>
    <div class="mt-2">
        <a href="#" class="btn btn-primary d-block ms-5 me-5">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Upravit artikl</a>
    </div>
</fieldset>
