{% for order in orders %}
    <tr class="L-table__body__row">
        <!--cislo zakazky-->
        <td>
            <a href="{% url "order_detail" order.id %}" class="L-table__link">{{ order.order_number|upper }}</a>
        </td>
        <!--misto urceni-->
        <td>{{ order.distrib_hub }}</td>
        <!--mandant-->
        <td>{{ order.mandant }}</td>
        <!--Termin doruceni-->
        {% if order.delivery_termin %}
            <td>{{ order.delivery_termin }}</td>
        {% else %}
            <td class="u-txt-center">-</td>
        {% endif %}
        <!--zakaznik-->
        {% if order.client.incomplete %}
            <td title="{{ order.client }}" class="u-txt-warning">⚠️&nbsp;{{ order.client.first_15 }}</td>
        {% else %}
            <td title="{{ order.client }}" class="u-txt-success">
                <i class="fa-solid fa-check"></i>&nbsp;{{ order.client.first_15 }}
            </td>
        {% endif %}

        <!--Realizace kym-->
        {% if order.team_type == "By_assembly_crew" %}
            <td class="u-txt-success u-s-none">{{ order.get_team_type_display }}</td>
        {% else %}
            <td class="u-s-none">{{ order.get_team_type_display }}</td>
        {% endif %}
        <!--Team-->
        {% if order.is_missing_team %}
            <td class="u-txt-warning u-s-none">⚠️&nbsp;Nevybráno</td>
        {% elif order.team %}
            <td class="u-txt-success u-s-none">
                <i class="fa-solid fa-check"></i>&nbsp;{{ order.team }}
            </td>
        {% else %}
            <td class="u-s-none">–</td>
        {% endif %}
        <!--termin montaze-->
        {% if order.montage_termin %}
            <td class="u-s-none">{{ order.montage_termin }}</td>
        {% else %}
            <td class="u-txt-warning u-s-none">⚠️&nbsp;Nevybráno</td>
        {% endif %}
        <!--Status-->
        <td class="u-s-none">{{ order.get_status_display }}</td>
        <!--Articles-->
        {% if order.articles.count == 0 %}
            <td class="u-s-none u-txt-center u-txt-error">{{ order.articles.count }}</td>
        {% else %}
            <td class="u-s-none u-txt-center">{{ order.articles.count }}</td>
        {% endif %}
        <!--poznamka-->
        <td title="{{ order.notes }}">{{ order.notes_first_10 }}</td>
    </tr>
{% endfor %}
