<section class="L-detail__fieldset {% if show %}L-detail__hidden{% endif %}">
    <div>
        <h3 class="L-detail__fieldset__header">Objednávka</h3>
        <ul class="L-detail__list">
            <!--order-->
            <li class="L-detail__item">
                <strong>Číslo zakázky:</strong> {{ order.order_number|upper }}
            </li>
            <!--distrib_hub-->
            <li class="L-detail__item">
                <strong>Místo určení:</strong> {{ order.distrib_hub }}
            </li>
            <!--mandant-->
            <li class="L-detail__item">
                <strong>Mandant:</strong> {{ order.mandant }}
            </li>
            <!--status-->
            <li class="L-detail__item">
                <strong>Stav:</strong>
                <span>&nbsp;&nbsp;{{ order.get_status_display }}</span>
            </li>
            <!--evidence_termin-->
            <li class="L-detail__item">
                <strong>Termín evidence:</strong>
                <span>&nbsp;&nbsp;{{ order.evidence_termin|date:"d. m. Y" }}</span>
            </li>
            <!--delivery termin-->
            {% if order.delivery_termin %}
                <li class="L-detail__item">
                    <strong>Termín doručení:</strong>
                    <span>&nbsp;&nbsp;{{ order.delivery_termin|date:"d. m. Y" }}</span>
                </li>
            {% else %}
                <li class="L-detail__item">
                    <strong>Termín doručení:</strong>
                    <span class="u-txt-warning">&nbsp;&nbsp;Nevybráno</span>
                </li>
            {% endif %}
            <!--montage_termin-->
            {% if order.montage_termin %}
                <li class="L-detail__item">
                    <strong>Termín montáže:</strong>
                    <span>&nbsp;&nbsp;{{ order.montage_termin|date:"d. m. Y H:i" }}</span>
                </li>
            {% else %}
                <li class="L-detail__item">
                    <strong>Termín montáže:</strong>
                    <span class="u-txt-warning ms-2">&nbsp;&nbsp;Nevybráno</span>
                </li>
            {% endif %}
            <!--team type-->
            <li class="L-detail__item">
                <strong>Realizace kým:</strong>
                <!---->
                <span class="{% if order.team_type == "By_customer" %}u-txt-error{% elif order.team_type == "By_assembly_crew" %}u-txt-success-light{% endif %}">&nbsp;&nbsp;{{ order.get_team_type_display }}</span>
            </li>
            <!--team-->
            {% if order.team %}
                <li class="L-detail__item">
                    <strong>Montážní tým:</strong>
                    <span>&nbsp;&nbsp;
                        <a href="{% url "team_detail" order.team.slug %}"
                           class="u-txt-success-light">{{ order.team }}</a>
                    </span>
                </li>
            {% else %}
                <li class="L-detail__item">
                    <strong>Montážní tým:</strong><span class="u-txt-warning ms-2">&nbsp;&nbsp;Nevybráno</span>
                </li>
            {% endif %}
            <!--notes-->
            {% if order.notes %}
                <li class="L-detail__item">
                    <strong>Poznámky:</strong><span>&nbsp;&nbsp;{{ order.notes }}</span>
                </li>
            {% endif %}
            <!--created-->
            <li class="L-detail__item">
                <strong>Vytvořeno:</strong>
                <span>&nbsp;&nbsp;{{ order.created|date:"d. m. Y H:i" }}</span>
            </li>
            <!--updated-->
            <li class="L-detail__item">
                <strong>Upraveno:</strong>
                <span>&nbsp;&nbsp;{{ order.updated|date:"d. m. Y H:i" }}</span>
            </li>
        </ul>
    </div>
    <!---->
    <div>
        <a href="{% url 'order_update' order.pk %}"
           class="btn btn-primary d-block ms-5 me-5">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Upravit objednávku</a>
    </div>
</section>
<!---->
