<section class="L-detail__fieldset {% if show %}L-detail__hidden{% endif %}">
    <div>
        <h3 class="L-detail__fieldset__header">Objednávka</h3>
        <ul class="L-detail__list">
            <!--order-->
            <li class="L-detail__item">
                <strong>Číslo zakázky:</strong>
                <span>{{ order.order_number|upper }}</span>
            </li>
            <!--distrib_hub-->
            <li class="L-detail__item">
                <strong>Místo určení:</strong>
                <span class="u-txt-success-light ms-1">{{ order.distrib_hub }}</span>
            </li>
            <!--mandant-->
            <li class="L-detail__item">
                <strong>Mandant:</strong>
                <span class="ms-1">{{ order.mandant }}</span>
            </li>
            <!--status-->
            <li class="L-detail__item">
                <strong>Stav:</strong>
                <span class="u-txt-success-light ms-1">{{ order.get_status_display }}</span>
            </li>
            <!--evidence_termin-->
            <li class="L-detail__item">
                <strong>Termín evidence:</strong>
                <span class="ms-1">{{ order.evidence_termin|date:"d. m. Y" }}</span>
            </li>
            <!--delivery termin-->
            {% if order.delivery_termin %}
                <li class="L-detail__item">
                    <strong>Termín doručení:</strong>
                    <span class="ms-1">{{ order.delivery_termin|date:"d. m. Y" }}</span>
                </li>
            {% else %}
                <li class="L-detail__item">
                    <strong>Termín doručení:</strong>
                    <span class="u-txt-warning ms-1">Nevybráno</span>
                </li>
            {% endif %}
            <!--montage_termin-->
            {% if order.montage_termin %}
                <li class="L-detail__item">
                    <strong>Termín montáže:</strong>
                    <span class="ms-1">{{ order.montage_termin|date:"d. m. Y H:i" }}</span>
                </li>
            {% else %}
                <li class="L-detail__item">
                    <strong>Termín montáže:</strong>
                    <span class="u-txt-warning ms-1">Nevybráno</span>
                </li>
            {% endif %}
            <!--team type-->
            <li class="L-detail__item">
                <strong>Realizace kým:</strong>
                <!---->
                {% if order.team_type == "By_customer" %}
                    <span class="ms-1 u-txt-error">{{ order.get_team_type_display }}</span>
                {% elif order.team_type == "By_assembly_crew" %}
                    <span class="ms-1 u-txt-success-light">{{ order.get_team_type_display }}</span>
                {% else %}
                    <span class="ms-1">{{ order.get_team_type_display }}</span>
                {% endif %}
            </li>
            <!--team-->
            {% if order.team %}
                <li class="L-detail__item">
                    <strong>Montážní tým:</strong>
                    <span class="ms-1">
                        <a href="{% url "team_detail" order.team.slug %}"
                           class="u-txt-success-light">{{ order.team }}</a>
                    </span>
                </li>
            {% else %}
                <li class="L-detail__item">
                    <strong>Montážní tým:</strong>
                    <span class="u-txt-warning ms-1">Nevybráno</span>
                </li>
            {% endif %}
            <!--notes-->
            {% if order.notes %}
                <li class="L-detail__item">
                    <strong>Poznámky:</strong>
                    <span class="ms-1">{{ order.notes }}</span>
                </li>
            {% endif %}
        </ul>
    </div>
    <!---->
    <div>
        <a href="#" class="btn btn-primary d-block ms-5 me-5 mb-2">
            <i class="fa-solid fa-timeline me-2"></i>Zobrazit historii</a>
    </div>
    <div>
        <a href="{% url 'order_update' order.pk %}"
           class="btn btn-primary d-block ms-5 me-5">
            <i class="fa-solid fa-pen-to-square me-2"></i>Upravit objednávku</a>
    </div>
</section>
<!---->
