<h3>Zákazník</h3>
<ul class="L-detail__list">
    <!--client name-->
    <li class="L-detail__item">
        <strong>Zákazník:</strong> {{ order.client }}
    </li>
    <!--street-->
    {% if order.client.street %}
        <li class="L-detail__item">
            <strong>Ulice:</strong> {{ order.client.street }} {{ order.client.number }}
        </li>
    {% else %}
        <li class="L-detail__item">
            <strong>Ulice:</strong> <span class="u-txt-warning">&nbsp;Nevyplněno</span>
        </li>
    {% endif %}
    <!--city-->
    {% if order.client.city %}
        <li class="L-detail__item">
            <strong>Město:</strong> {{ order.client.city }}
        </li>
    {% else %}
        <li class="L-detail__item">
            <strong>Město:</strong>
            <span class="u-txt-warning">&nbsp;Nevyplněno</span>
        </li>
    {% endif %}
    <!--PSC-->
    <li class="L-detail__item">
        <strong>PSČ:</strong> {{ order.client.zip_code }}
    </li>
    <!--phone-->
    {% if order.client.phone %}
        <li class="L-detail__item">
            <strong>Telefon:</strong> {{ order.client.phone }}
        </li>
    {% else %}
        <li class="L-detail__item">
            <strong>Telefon:</strong>
            <span class="u-txt-warning">&nbsp;Nevyplněno</span>
        </li>
    {% endif %}
    {% if order.client.email %}
        <li class="L-detail__item">
            <strong>E-mail:</strong> {{ order.client.email }}
        </li>
    {% else %}
        <li class="L-detail__item">
            <strong>E-mail:</strong>
            <span class="u-txt-warning">&nbsp;Nevyplněno</span>
        </li>
    {% endif %}
</ul>
<!---->
<div class="mb-2">
    <a href="{% url 'client_update' order.client.slug order.pk %}"
       class="btn btn-primary d-block">
        <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Upravit zákazníka</a>
</div>
<div class="mb-2">
    <a href="#" class="btn btn-primary d-block">
        <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Volat zákazníka</a>
</div>
