<fieldset class="L-detail__fieldset {% if show %}L-detail__hidden{% endif %}">
    <form method="post">
        {% csrf_token %}
        <legend>Objednávka</legend>
        {% include "app_sprava_montazi/partials/form_field.html" with form=form %}
        <!---->
        <div class="u-txt-right mt-3">
            <button type="submit" class="btn btn-primary mt-3">
                <i class="fa-solid fa-plus me-2"></i>
                <span>Uložit objednávku</span>
            </button>
        </div>
    </form>
</fieldset>
