<section class="L-form__fieldset">
    <h3 class="L-detail__fieldset__header">Protokol</h3>
    {% if order.team.name != order.mail_team_sended and order.mail_datum_sended %}
        <div class="mt-3 ms-5 me-5">
            <div class="alert alert-danger" role="alert">
                <p class="text-decoration-underline mb-1 u-txt-bolder">Nesoulad montážních týmů!</p>
                <p class="mb-0">1. Generuj nový protokol</p>
                <p class="mb-0">2. Zkontroluj protokol</p>
                <p class="mb-0">3. Odešli nový email</p>
            </div>
            <hr>
        </div>
    {% endif %}
    {% if not order.team.active %}
        <div class="mt-3 ms-5 me-5">
            <div class="alert alert-danger" role="alert">
                <p class="text-decoration-underline mb-1 u-txt-bolder">Neaktivní montážní tým!</p>
                <p class="mb-0">
                    Změň montážní <a class="link-opacity-75-hover"
    href="{% url "order_update" order.pk %}"><strong>team<i class="fa-solid fa-link ms-1"></i></strong></a>
                </p>
            </div>
            <hr>
        </div>
    {% endif %}
    <div>
        <a href="{% url 'generate_pdf' order.pk %}"
           class="btn btn-primary d-block ms-5 me-5 mb-2 {% if not order.team.active %}disabled{% endif %}">
            <i class="fa-solid fa-file-pdf me-2"></i>Generuj Protokol</a>
    </div>
    <div>
        <a href="{% url 'check_pdf' order.pk %}"
           class="btn {% if not pdf_exists or not order.team.active %}btn-secondary disabled{% else %}btn-primary{% endif %} d-block ms-5 me-5">
            <i class="fa-solid fa-eye me-2"></i>Zkontroluj Protokol</a>
    </div>
    <!---->
    <hr class="ms-5 me-5">
    <div class="mt-3">
        <a href="{% url 'send_mail' order.pk %}"
           class="btn {% if not pdf_exists or not order.team.active %}btn-secondary disabled{% else %}btn-primary{% endif %} d-block ms-5 me-5">
            <i class="fa-solid fa-envelope-circle-check me-2"></i>Odeslat Email
        </a>
    </div>
    <!-- mail info name a datum-->
    <div class="mt-3 ms-5 me-5">
        {% if order.mail_datum_sended %}
            <div class="alert alert-success u-txt-bolder m-0">
                <p class="text-decoration-underline mb-1">Email byl odeslán</p>
                <p class="mb-1 d-block">montážnímu týmu:</p>
                <p class="badge text-bg-success mb-1 d-block">{{ order.mail_team_sended }}</p>
                <p class="badge text-bg-success mb-0 d-block">{{ order.mail_datum_sended|date:"d. m. Y v H:i" }}</p>
            </div>
        {% else %}
            <p class="alert alert-danger">Mail ještě nebyl odeslán:</p>
        {% endif %}
    </div>
</section>
