<section class="L-form__fieldset">
    <div>
        <h5>tento protocokol byl jiz odelsan</h5>
        <h5>v 14.5.2024</h5>
    </div>
    <div>
        <a href="{% url 'protocol_pdf' order.pk %}"
           class="btn btn-primary d-block ms-5 me-5 mb-2 mt-5">
            <i class="fa-solid fa-eye me-2"></i>Náhled Protokolu</a>
    </div>
    <div>
        <a href="{% url 'protocol_pdf' order.pk %}"
           class="btn btn-primary d-block ms-5 me-5">
            <i class="fa-solid fa-envelope me-2"></i>Odeslat Email</a>
    </div>
</section>
