<p class="mb-3">
    Další možnosti podle statusu objednávky:
    <span class="u-txt-success">{{ order.get_status_display }}</span>
</p>
<!--new novy-->
{% if order.status == "New" %}
    <div class="form-check form-switch mb-1">
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               id="checkBoxHiddenOrder"
               aria-checked="false">
        <label class="form-check-label" for="checkBoxHiddenOrder">Opravdu přepnout?</label>
    </div>
    <!---->
    <form method="post" action="{% url 'order_hidden' order.pk %}">
        {% csrf_token %}
        <button type="submit"
                id="hiddenOrderButton"
                class="btn btn-danger btn-sm u-width-180 text-nowrap me-2 disabled">
            <i class="fa-solid fa-trash me-2"></i>Skrýt zakázku
        </button>
    </form>
{% endif %}
<!---->
<!--Zaterminovano Adviced-->
{% if order.status == "Adviced" %}
    {% if order.team_type == "By_assembly_crew" %}
        <a href="{% url 'protocol' order.pk %}"
           class="btn btn-primary btn-sm u-width-180 text-nowrap me-2 position-relative">
            {% if order_has_error %}
                <span class="position-absolute top-0 start-100 translate-middle bg-danger error_mark">
                    <i class="fa-solid fa-exclamation fa-beat-fade fa-sm"></i>
                </span>
                <i class="fa-solid fa-paper-plane me-2"></i>
            {% endif %}
            <span>Montážní protokol</span>
        </a>
    {% else %}
        <div>
            <div class="alert alert-primary">
                Pro tento stav zakázky: <strong>Zatermínováno s dopravou</strong> není žádná funkce
            </div>
        </div>
    {% endif %}
{% endif %}
<!---->
<!--Realized Realizováno-->
{% if order.status == "Realized" %}
    <div>
        <div class="alert alert-primary">
            Pro tento stav zakázky: <strong>Realizováno</strong> není žádná funkce
        </div>
    </div>
    <!---->
{% endif %}
<!--"Billed", "Vyúčtovaný"-->
{% if order.status == "Billed" %}
    <div>
        <div class="alert alert-primary">
            Pro tento stav zakázky: <strong>Vyúčtovaný</strong> není žádná funkce
        </div>
    </div>
    <!---->
{% endif %}
<!--"Canceled", "Zrušeno"-->
{% if order.status == "Canceled" %}
    <div>
        <div class="alert alert-primary">
            Pro tento stav zakázky: <strong>Zrušeno</strong> není žádná funkce
        </div>
    </div>
    <!---->
{% endif %}
<!--Hidden Skryto-->
{% if order.status == "Hidden" %}
    <div class="form-check form-switch mb-1">
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               id="checkBoxDeleteOrder"
               aria-checked="false">
        <label class="form-check-label" for="checkBoxDeleteOrder">Opravdu smazat?</label>
    </div>
    <!---->
    <form method="post" action="{% url 'delete_order' order.pk %}">
        {% csrf_token %}
        <button type="submit"
                id="deleteOrderButton"
                class="btn btn-danger btn-sm u-width-180 text-nowrap me-2 disabled">
            <i class="fa-solid fa-trash me-2"></i>Smazat objednávku
        </button>
    </form>
{% endif %}
