<p class="mb-3">
    Další možnosti podle statusu objednávky:
    <span class="u-txt-success">{{ order.get_status_display }}</span>
</p>
<!--new novy-->
{% if order.status == "New" %}<p>Zatím žádné možnosti</p>{% endif %}
<!---->
<!--Zaterminovano Adviced-->
{% if order.status == "Adviced" %}
    <a href="{% url 'protocol' order.pk %}"
       class="btn btn-primary btn-sm u-width-180 text-nowrap me-2">
        <i class="fa-solid fa-paper-plane me-2"></i>Montážní protokol</a>
{% endif %}
<!---->
<!--Realized Realizováno-->
{% if order.status == "Realized" %}
    <a href="{% url 'protocol' order.pk %}"
       class="btn btn-primary btn-sm u-width-180 text-nowrap me-2">
        <i class="fa-solid fa-paper-plane me-2"></i>Montážní protokol</a>
    <!---->
{% endif %}
{% if order.status == "Hidden" %}
    <!--Hidden Skryto-->
    <div class="form-check form-switch mb-1">
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               id="checkBoxDeleteOrder"
               aria-checked="false">
        <label class="form-check-label" for="checkBoxDeleteOrder">Opravdu smazat?</label>
    </div>
    <!---->
    <a href="{% url 'delete_order' order.pk %} "
       id="deleteOrderButton"
       class="btn btn-danger btn-sm u-width-180 text-nowrap me-2 disabled">
        <i class="fa-solid fa-trash me-2"></i>Smazat objednávku</a>
{% endif %}
