{% extends "base.html" %}
{% block title %}
    detail objednavky
{% endblock title %}
{% block content %}
    <section class="L-detail">
        <h3>Detail objednávky č. {{ order.order_number|upper }}</h3>
        <hr>
        <div class="L-detail__wrapper">
            <!--objednavka-->
            {% include "app_sprava_montazi/partials/order_detail_order.html" %}
            <!--zakaznik-->
            {% include "app_sprava_montazi/partials/order_detail_client.html" %}
        </div>
        <p class="mt-3">
            <a href="{% url 'orders' %}">Zpět na seznam objednávek</a>
        </p>
    </section>
{% endblock content %}
