{% extends "base.html" %}
{% block title %}
    Teams
{% endblock title %}
{% block content %}
    <div class="container mt-2 L-table">
        <h3 class="mb-3 u-text-warning">
            <i class="bi bi-list-ul L-table__icon"></i> Seznam Teamů
        </h3>
        <div class="L-table__nav-panel">
            <div class="L-table__nav-panel__buttons">
                <a href="{% url "team_create" %}" class="btn btn-primary">
                    <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Vytvořit team
                </a>
            </div>
        </div>
        <hr />
        <!--table-->
        {% include "app_sprava_montazi/partials/teams_all_table.html" %}
        <!---->
    </div>
{% endblock content %}
